
.scroller-main {
    max-width: 60rem;
    margin: 3rem auto;
    padding: 1rem;
    border: 1px solid black;
}

.scroller-graphic {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    top: 10vh;
    height: 65vh;
    left: 0;
    border: 1px dashed gray;
}

.scroller {
    padding: 0;
    max-width: 30rem;
    margin: 0 auto;
    position: relative;

}

.scroller-step {
    min-height: 67vh;
    margin-bottom: 20rem;
}
