@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* COLOR SCHEMES */
/* New Mexico from https://www.awwwards.com/sites/adult-swim-singles-2016
   and https://visme.co/blog/website-color-schemes/
    
    rust (red):             #E27D60
    robin (light blue):     #85DCB
    circus peanut (orange): #E8A87C
    plum:                   #C38D9E
    torquoise:              #41B3A3
    */

body {
    font-family: 'Roboto Slab', serif;
}

.text-container {
    width: 80vw;
}
.divergent-top {
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
}

.divergent-bottom {
    width: 100vw;
}

.genome-plot {
    width: 20vw;
}

.focus-line-chart {
    width: 60vw;
}

.context-line-chart {
    width: 60vw;
    margin: 0 auto;
}

.selection {
    fill: none;
    stroke: black;
    stroke-width: .25vw;
}
