@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

.text-container {
    width: 80vw;
}
.divergent-top {
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
}

.divergent-bottom {
    width: 100vw;
}

.genome-plot {
    width: 20vw;
}

.focus-line-chart {
    width: 60vw;
}

.context-line-chart {
    width: 60vw;
    margin: 0 auto;
}

.selection {
    fill: none;
    stroke: black;
    stroke-width: .25vw;
}