html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Slab', serif;
}

h1, h2, h3 {
    font-family: 'Bree Serif', serif;
}

p {
    font-size: 1.5rem;
}

#content-container {
    width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
    justify-content: center;
}

.text-container {
    width: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: center;
}

#genome-chart {
    width: 70vw;
    height: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 5vh;
}
